EYZWG9_0326/XDMEYZWG9.xsd

<xs:schema>
    <xs:element name="vendeglatas">

    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elemementFormDefault="qualified">
    <xs:element name="EYZWG9_vendeglatas">
    
        <xs:comlexType>
            <xs:sequence>
                <xs:element name="etterem" type="etteremTipus" maxOccurs="unbounded"/>
                <xs:element name="foszakacs" type="foszakacsTipus" maxOccurs="unbounded"/>
                <xs:element name="szakacs" type="szakacsTipus" maxOccurs="unbounded"/>
                <xs:element name="gyakornok" type="gyakornokTipus" maxOccurs="unbounded"/>
                <xs:element name="vendeg" type="vendegTipus" maxOccurs="unbounded"/>
                <xs:element name="rendeles" type="rendelesTipus" maxOccurs="unbounded"/>
                <xs:sequence>
        </xs:comlexType>

                <xs:key name="etterem_kulcs">
                    <xs:selector xpath="etterem"/>
                    <xs:field xpath="@ekod"/>
                </xs:key>

                <xs:key name="foszakacs_kulcs">
                    <xs:selector xpath="foszakacs"/>
                    <xs:field xpath="@fkod"/>
                </xs:key>

                <xs:key name="szakacs_kulcs">
                    <xs:selector xpath="szakacs"/>
                    <xs:field xpath="@szkod"/>
                </xs:key>

                <xs:key name="gyakornok_kulcs">
                    <xs:selector xpath="gyakornok"/>
                    <xs:field xpath="@gykod"/>
                </xs:key>

                <xs:key name="vendeg_kulcs">
                    <xs:selector xpath="vendeg"/>
                    <xs:field xpath="@vkod"/>
                </xs:key>

                <xs:keyref refer="etterem_kulcs" name="etterem_idegen_kulcs">
                    <xs:selector xpath="rendeles">
                    <xs:field xpath="@e_v_e"/>
                </xs:keyref>

                <xs:keyref refer="vendeg_kulcs" name="vendeg_idegen_kulcs">
                    <xs:selector xpath="rendeles">
                    <xs:field xpath="@e_v_v"/>
                </xs:keyref>

                <xs:keyref refer="etterem_foszakacs_kulcs" name="etterem_foszakacs_kulcs">
                    <xs:selector xpath="foszakacs">
                    <xs:field xpath="@e_f"/>
                </xs:keyref>

                <xs:keyref refer="etterem_szakacs_kulcs" name="etterem_szakacs_kulcs">
                     <xs:selector xpath="szakacs">
                     <xs:field xpath="@e_sz"/>
                </xs:keyref>

                <xs:keyref refer="etterem_gyakornok_kulcs" name="etterem_gyakornok_kulcs">
                       <xs:selector xpath="gyakornok">
                       <xs:field xpath="@e_gy"/>
                </xs:keyref>

                <xs:unique name="unique_foszakacs">
                        <xs:selector xpath="foszakacs">
                        <xs:field xpath="@e_f"/>
                </xs:unique>

       </xs:element>

        <xs:comlexType name="etteremTipus">
            <xs:sequence>
                <xs:element name="nev" type="xs:string"/>
                <xs:element name="cim" type="cimTipus"/>
                <xs:element name="csillag" type="xs:integer"/>
            </xs:sequence>
       <xs:attribute name="ekod" type="xs:sting" use="required">
    </xs:comlexType>

        <xs:comlexType name="cimTipus">
            <xs:sequence>
                <xs:element name="varos" type="xs:string"/>
                <xs:element name="utca" type="xs:string"/>
                <xs:element name="hazszam" type="xs:integer"/>
            </xs:sequence>
        </xs:comlexType>

        <xs:comlexType name="foszakacsTipus">
            <xs:sequence>
                <xs:element name="nev" type="xs:string"/>
                <xs:element name="eletkor" type="xs:integer"/>
                <xs:element name="vegzettseg" type="xs:string" maxOccurs="unbounded"/>
            </xs:sequence>
        <xs:attribute name="fkod" type="xs:sting" use="required">
         <xs:attribute name="e_f" type="xs:sting" use="required">
        </xs:comlexType>

        <xs:comlexType name="szakacsTipus">
            <xs:sequence>
                <xs:element name="nev" type="xs:string"/>
                <xs:element name="reszleg" type="xs:string"/>
                <xs:element name="vegzettseg" type="xs:string" maxOccurs="unbounded"/>
            </xs:sequence>
        <xs:attribute name="szkod" type="xs:sting" use="required">
         <xs:attribute name="e_sz" type="xs:sting" use="required">
        </xs:comlexType>

        <xs:comlexType name="gyakornokTipus">
            <xs:sequence>
                <xs:element name="nev" type="xs:string"/>
                <xs:element name="gyakorlat" type="gyakorlatTipus"/>
                <xs:element name="muszak" type="xs:string" maxOccurs="unbounded"/>
            </xs:sequence>
        <xs:attribute name="gykod" type="xs:sting" use="required">
        <xs:attribute name="e_gy" type="xs:sting" use="required">
        </xs:comlexType>

        <xs:comlexType name="gyakorlatTipus">
            <xs:sequence>
                <xs:element name="kezdete" type="xs:string"/>
                <xs:element name="idotartama" type="xs:string"/>
            </xs:sequence>
        </xs:comlexType>

        <xs:comlexType name="vendegTipus">
            <xs:sequence>
                <xs:element name="nev" type="xs:string"/>
                <xs:element name="eletkor" type="xs:integer"/>
                <xs:element name="cim" type="cimTipus"/>
            </xs:sequence>
        <xs:attribute name="vkod" type="xs:sting" use="required">
        </xs:comlexType>

        <xs:comlexType name="rendelesTipus">
            <xs:sequence>
                <xs:element name="osszeg" type="xs:integer"/>
                <xs:element name="etel" type="xs:string"/>
            </xs:sequence>
        <xs:attribute name="e_v_e" type="xs:sting" use="required">
        <xs:attribute name="e_v_v" type="xs:sting" use="required">
        </xs:comlexType>       


</xs:schema>